@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --dark-grey: #302b2b;
  --grey-bg: #484a47; /* main background */
  --grey-accent: #5c6d70; /* idk */
  --rose: #a37774; /* idk */
  --salmon: #e88873; /* secondary text */
  --melon: #e0ac9d; /* text */
  --offwhite: #cecece;
  --white: #eeeeee;
  --red: rgb(252, 86, 108); /* required field */
}

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--offwhite);
}

/* General Section Arrangement */

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 200px 1fr;
  height: 100vh;
  width: 100%;
}

#sidebar {
  grid-row: 1 / 3;
  background-color: var(--dark-grey);
}

#header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--white);
}

#content {
  display: grid;
  /* grid-template-columns: 3fr 3fr 2fr;
  grid-template-rows: 1fr 1fr; */
  grid-template: max-content / 1fr 300px;
  margin-bottom: 50px;
}

/* Sidebar Section Arrangement */

#sidebar {
  padding: 30px;
}

#sidebar > div {
  margin-bottom: 20px;
}

/* Header Section Arrangement */

#header {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  padding: 30px;
  align-items: center;
  gap: 15px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.user-sec {
  justify-self: right;
  display: flex;
  gap: 15px;
  align-items: center;
}

.user {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Content Section Arrangement */

#content {
  padding: 30px;
  gap: 20px;
}

.section-title {
  grid-column: 1 / -1;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  grid-auto-rows: max-content;
}

.news {
  display: grid;
  gap: 15px;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
}

/* Global Formatting */

ul {
  list-style-type: none;
  margin-bottom: 10px;
}

.divider {
  border-top: 2px solid rgba(214, 214, 214, 0.35);
}

.h-divider {
  border-top: 2px solid rgba(214, 214, 214, 0.35);
}

.vertdivider {
  background-color: rgb(219, 221, 231);
  height: 100%;
  width: 1px;
}

/* SideBar Text Formatting */

.logo {
  font-size: 2rem;
  color: var(--white);
  font-weight: bold;
}

.general,
.admin {
  font-size: 1.2rem;
  color: var(--rose);
  font-weight: bold;
}

li:not(:last-child),
hr:not(:last-child) {
  margin-bottom: 14px;
}

.general > ul > li:hover,
.admin > ul > li:hover {
  color: var(--melon);
}

/* Header Text Formatting */

button {
  border: 0;
  background-color: var(--salmon);
  color: var(--white);
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
}

button:hover {
  background-color: var(--melon);
  transition: 200ms;
}

.avatar {
  background-color: var(--dark-text);
  background-image: url(./images/bear1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120% 120%;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

input,
input:focus,
input:focus:not(:placeholder-shown) {
  background-color: var(--melon);
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
  padding: 10px 20px;
  transition: width 0.3s;
  width: 250px;
}

input:not(:focus):placeholder-shown {
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 30px;
  height: 20px;
  width: 40px;
}

/* Content Text Formatting */

.project {
  padding: 30px;
  background-color: var(--white);
  border-radius: 8px;
  border-left: 5px solid var(--dark-grey);
  transition: all 0.4s;
}

.project:hover {
  border-left: 5px solid var(--grey-accent);
  transition: 0.15s;
}

.project-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  height: 80px;
  margin-bottom: 20px;
  overflow: hidden;
}

.shadow {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
}

.project-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.project-desc {
  margin-bottom: 20px;
}

/* Icons */

.card-controls {
  display: flex;
  gap: 15px;
  justify-content: right;
  margin-top: 10px;
}

.card-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}

.favourite {
  background-image: url(./images/star.svg);
}

.view {
  background-image: url(./images//eye.svg);
}

.share {
  background-image: url(./images//share.svg);
}

/* Announcement */

.announcement-container,
.trend-container {
  padding: 20px;
  background-color: var(--white);
  border-radius: 5px;
}

.announcement-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.announcement:not(:last-child),
.trend:not(:last-child),
.divider {
  margin-bottom: 14px;
}

.project-desc,
.announcement-desc,
.trend-role {
  color: grey;
}

/* Trend */

.trend {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 30px 30px;
}

.trend-image {
  grid-column: 1 / 2;
}

.trend-tag {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.trend-role {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.trend-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 55px;
  overflow: hidden;
  width: 55px;
}
